// =================== Colors ========================
$gray_color : #f0f0f0;
$gray_color_text : #8d8d8d;
$white_color: #fff;
$pink_color: #fde3e7;
$pink_color_light: #fde3e73f;
$shadow: #e0e0e0;
$black_color: #000000;
$white_color_light: #ffffff9c;
$green_color: #def1f1;
$green_color_light: #dff1f142;
$blue_color: #c5d2f2;
$blue_color_light: #c5d2f246;
$orange_color: #ffe0cf;
$orange_color_light: hsla(21, 100%, 91%, 0.26);